/* @override 
	http://127.0.0.1:8000/css/styles/sections.css */

article {
  padding-top: 159px;
}

article .esperluette {
  display: none;
}

article h2 {
  font: 60px "Montserrat";
  font-weight: 300;
  letter-spacing: -1.5px;
  margin-bottom: 9px;
  margin-left: -5px;
  margin-top: 23px;
}

article h2 span {
  display: none;
}

article hgroup p {
  opacity: .5;
  margin-bottom: 0 !important;
}

article p {
  margin-bottom: 15px;
}

article em {
  font-style: italic;
}

article strong {
  font-weight: 600;
}

article section {
  padding-top: 75px;
  padding-bottom: 73px;
}

article section .content {
  max-width: 616px;
}

article figure {
  background-color: var(--rose);
  text-align: center;
  padding-top: 15px;
  padding-bottom: 18px;
  margin-top: 14px;
  margin-bottom: 10px;
}

article figure img {
  opacity: 0;
  transition: opacity 150ms ease-in-out 0s;
}

article figure img.loaded {
  opacity: 1;
}

article figcaption {
  font-size: 14px;
  display: block;
  opacity: 0.8;
}
