<header>
  <div class="inner">
    <hgroup>
      <h1>Marca Tatem</h1>
      <p>Resume and Portfolio</p>
    </hgroup>  
    <nav>
      <a href="#menu" class="close menu">Close</a>
      <ul class="primary">
        {{#each data.sections}}
        {{#unless this.hidden}}
        <li>
        <a href="#{{parameterize this.name}}" class="smooth">
          <span class="at">{{this.name}}</span>
          <span class="year">{{this.date}}</span>
        </a>
        </li>
        {{/unless}}
        {{/each}}
      </ul>
      <ul class="secondary">
        <li><a href="https://github.com/marcatatem/fyi" class="icon github">GitHub</a></li>
      </ul>
    </nav>
    <a href="#menu" class="open menu">Menu</a>
  </div>
</header>