/* @override 
	http://127.0.0.1:8000/css/styles.css
	http://localhost:8000/css/styles.css
*/

@import "styles/vendor/reset.css";
@import "styles/columns.css";
@import "styles/typography.css";
@import "styles/colors.css";
/*
@import "styles/icons.css";

@import "styles/header.css";
@import "styles/footer.css";
@import "styles/sections.css";*/

html,
body {
  height: 100%;
}

body {
  color: var(--foreground);
  background: var(--background);
  font: 1.25rem/1.88rem 'Aktiv Grotesk';
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

a {
  color: var(--blue);
  transition: color 80ms ease-in-out 0s;
  -webkit-tap-highlight-color: transparent;
}

a:hover {
  color: var(--love)
}

header {
  margin-top: 2.4rem;
  border-bottom: 1px dashed #484848;
  padding-bottom: 4.62rem;
}

header hgroup {
  grid-column: span 9;
}

header h1 {
  font-weight: 500;
}

header h2 {
  color: gray;
  margin-bottom: 1.95rem;
}

header p {
  font-size: 2.25rem;
  line-height: 2.85rem;
  margin-bottom: 5.5rem;
  font-weight: normal;
}

header p::after {
  content: "";
  width: 3px;
  height: 2.25rem;
  display: inline-block;
  animation: cursor-blink 1.5s steps(2) infinite;
  vertical-align: -0.3rem;
  background-color: red;
  margin-left: -0.45rem;
}

@keyframes cursor-blink {
  0% {
    opacity: 0;
  }
}

header nav {
  
}

a {
  text-decoration: none;
}

.content a:hover {
  text-decoration: underline;
}

header nav li {
  margin-bottom:0.95rem;
}

header nav a .year {
  color: gray;
  margin-left: 0.5rem;
}

em {
  font-style: italic;
}

strong {
  font-weight: 500;
}

article {
  margin-bottom: 8.9rem;
}

section {
  margin-top: 4.52rem;
  margin-bottom: 4.62rem;
}

section .content p {
  margin-bottom:1.4rem;
}

section .content p:last-of-type {
  margin-bottom: 0;
}

section .heading > hgroup {
  margin-bottom:1.5rem;
  position: sticky;
  top: 4.62rem
}

section h2 {
  font-weight: 500;
}

section .heading p {
  opacity: 0.5;
}

figure {
  text-align: center;
}

figure.no-background {
  background: transparent;
  
}

figure.no-background img {
  margin-bottom: 0.7rem;
}

figcaption {
  font-size: 1rem;
  font-weight: 500;
}

footer {
  padding-bottom: 5rem;
}

footer .build-info {
  opacity: 0.5;
}

#about img {
  border-radius: 100%;
}

/* The header is too wide */
@media only screen and (max-width: 1124px) {
  header hgroup {
    grid-column: span 12;
  }
}

/* iPad */
@media only screen and (max-width: 1024px) {

}

/* Phones */
@media only screen and (max-width: 740px) {
  .inner,
  .columns {
    padding: 0 20px;
  }
  .columns {
    display: inherit;
  }
  header {
    border: none;
  }
  header p {
    font-size: 1.8rem;
    line-height: 2.5rem;
    margin-top: 2.2rem;
    margin-bottom: 4.5rem;
  }
  header hgroup {
    grid-column: span 12;
  }

  section {
    margin-top: 1.8rem;
    margin-bottom: 2.8rem;
  }

  section .heading > hgroup {
    margin-bottom: 1.3rem;
  }

  article {
    margin-bottom: 4rem;
  }

  section .heading, section .content {
    grid-column: span 12;
  }

  figure {
    margin-left: 10px;
    margin-right: 10px;
  }

  figcaption {
    margin-top: 0.35rem;
  }

  figure.no-background {
    margin-left: 0;
    margin-right: 0;
  }

  figure.no-background img {
    margin-bottom: 0;
  }

  #about {
    margin-top: 5.1rem;
  }

  #about img {
    margin-left: -0.3rem;
    margin-bottom: 0.8rem;
  }

  footer {
    padding-bottom: 2rem;
  }

  section#music-artist + figure.no-background img {
    aspect-ratio: 1 / 1;
      object-fit: cover;
      object-position: left center;
      width: 100%;
      height: auto; 
    }

}

@media only screen and (max-width: 430px) {
  header hgroup {
    grid-column: span 12;
  }
}